.wrapper {
	display: grid;
	grid-template-columns: 200px 200px 200px;
	/*grid-template-columns: 1fr 1fr 1fr;*/
	/*grid-template-columns: 500px 1fr 2fr;*/
	grid-auto-rows: minmax(100px, auto);
	/*column-gap: 10px;
	row-gap: 10px;*/
}

/*
.box1 { 
  grid-column-start: 1; 
  grid-column-end: 4; 
  grid-row-start: 1; 
  grid-row-end: 3; 
}

.box2 { 
  grid-column-start: 1; 
  grid-row-start: 3; 
  grid-row-end: 5; 
}
*/


.box1, .box4{
	background-color: red;
}

.box2, .box5{
	background-color: blue;
}

.box3 {
	background-color: green;
}